<%
  extra_classes ||= ""
  title ||= ""
  content ||= ""
%>


<div class="company-list">

  <div class="company-list__item">
    <div class="icon icon-idea"></div>
    <p class="title">EFICIENCIA Y EFICACIA</p>
    <p class="text">Ponemos a disposición de nuestro cualificado equipo humano todos los medios técnicos e informáticos de última generación, para que puedan satisfacer al completo las necesidades de nuestros clientes.</p>
  </div>
  <div class="company-list__item">
    <div class="icon icon-shield"></div>
    <p class="title">CONFIANZA</p>
    <p class="text">Buscamos relaciones duraderas con nuestros clientes y, por eso, todas nuestras actuaciones se enfocan en conseguir su confianza plena. Nuestra ética de conducta y honestidad son los ejes de nuestra actuación diaria.</p>
  </div>
  <div class="company-list__item">
    <div class="icon icon-handshake"></div>
    <p class="title">PERSONALIZACIÓN</p>
    <p class="text">Hemos diseñado una estructura de empresa que nos permite adaptarnos de manera personalizada a cada uno de nuestros clientes. Nosotros nos encargamos de ofrecer ese servicio diferenciado que cada compañía necesita.</p>
  </div>

</div>
