<%
  extra_classes ||= ""
  title ||= ""
  text ||= ""
  image ||= ""
%>


<div class="company-menu">
  <div class="company-menu__item">
    <a href="#">
      Historia
    </a>
  </div>
  <div class="company-menu__item">
    <a href="#">
      Nuestra filosofía
    </a>
  </div>
  <div class="company-menu__item">
    <a href="#">
      Política de empresa
    </a>
  </div>
  <div class="company-menu__item">
    <a href="#">
      Calidad
    </a>
  </div>
  <div class="company-menu__item">
    <a href="#">
      Responsabilidad social corporativa
    </a>
  </div>
</div>

