<%
  extra_classes ||= ""
  title ||= ""
  text ||= ""
  image ||= ""
%>


<div class="company-menu">
  <div class="company-menu__wrapp">
    <div class="company-menu__item">
      <a href="#" data-scroll="#history" data-offsettop="100">
        Historia
      </a>
    </div>
    <div class="company-menu__item" data-scroll="#philosophy" data-offsettop="100">
      <a href="#">
        Nuestra filosofía
      </a>
    </div>
    <div class="company-menu__item" data-scroll="#comany-pol" data-offsettop="100">
      <a href="#">
        Política de empresa
      </a>
    </div>
    <div class="company-menu__item" data-scroll="#qa" data-offsettop="100">
      <a href="#">
        Calidad
      </a>
    </div>
    <div class="company-menu__item" data-scroll="#corporative" data-offsettop="100">
      <a href="#">
        Responsabilidad social corporativa
      </a>
    </div>
  </div>
</div>

