<%
  extra_classes ||= ""
  title ||= ""
  content ||= ""
%>


<div class="company-list">

  <div class="company-list__item">
    <div class="icon icon-idea"></div>
    <p class="title">Eficiencia y eficacia</p>
    <p class="text">Poniendo a disposición de nuestro altamente cualificado equipo humano todos los medios técnicos e informáticos de última generación para que puedan satisfacer al completo las necesidades de nuestros clientes.</p>
  </div>
  <div class="company-list__item">
    <div class="icon icon-shield"></div>
    <p class="title">Confianza</p>
    <p class="text">Buscando con afán relaciones duraderas con nuestros clientes y para ello todas nuestras actuaciones se enfocan en conseguir su confianza plena. Para ello nuestra ética de conducta y honestidad son ejes de nuestra actuación diaria.</p>
  </div>
  <div class="company-list__item">
    <div class="icon icon-handshake"></div>
    <p class="title">Personalización</p>
    <p class="text">Diseñando una estructura de empresa que nos permita adaptarnos de forma única a cada uno de nuestros clientes. Cada uno tiene sus características particulares y necesita un servicio diferenciado que logramos satisfacer por nuestra experiencia.</p>
  </div>

</div>

