<%
  extra_classes ||= ""
  title ||= ""
  text ||= ""
  image ||= ""
%>


<div class="hero" style="background-image: url(../assets/images/content/<%= image %>);">
  <div class="hero__content">
    <p class="hero__content__text"><%= text %></p>
    <p class="hero__content__title"><%= title %></p>
  </div>
</div>

