<%
  extra_classes ||= ""
  title ||= ""
  text ||= ""
  images ||= ""
%>


<div class="home-list">

  <div class="home-list__item">
    <div class="icon icon-package-hand"></div>
    <p class="title">Más de 30 años contigo</p>
    <p class="text">Ofreciéndote siempre el mejor de los servicios</p>
  </div>
  <div class="home-list__item">
    <div class="icon icon-route"></div>
    <p class="title">Global</p>
    <p class="text">Dando cobertura en cualquier punto del planeta</p>
  </div>
  <div class="home-list__item">
    <div class="icon icon-folder-safe"></div>
    <p class="title">Confidencialidad y protección</p>
    <p class="text">Cuidando de tus proyectos como si fueran nuestros</p>
  </div>
  <div class="home-list__item">
    <div class="icon icon-handshake"></div>
    <p class="title">Personalización</p>
    <p class="text">Adaptándonos específicamente a tus necesidades</p>
  </div>

</div>
