<%
  extra_classes ||= ""
%>


<div class="legal <%= extra_classes %>">
  <a href="#" class="legal__back">
    <span class="icon icon-arrow-left"></span>
    Back
  </a>

  <p class="legal__title">Política de Privacidad</p>

  <div class="legal__content">
    <p class="lead">Lorem ipsum dolor</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id tellus sit amet ante dictum iaculis. Ut ut velit ex. Nam convallis malesuada maximus. Ut vehicula sem in rutrum facilisis. Vivamus ut mattis arcu. Aliquam erat volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris volutpat vehicula dolor eget pretium. Integer sodales tellus erat, ac tincidunt orci convallis sit amet. Curabitur auctor id neque in placerat. Proin cursus magna eget erat faucibus, ac molestie sapien viverra. Duis consectetur sagittis nunc nec gravida. Vestibulum lacinia eros at massa consequat facilisis. Phasellus ut purus vel nibh eleifend gravida. Nulla posuere egestas nunc vitae scelerisque.
    </p>
    <p>
      Curabitur non imperdiet nibh, at commodo ipsum. Fusce bibendum id nibh vitae consequat. Proin nisi risus, cursus at eleifend eget, imperdiet vel dui. Vivamus sit amet tincidunt nibh. Suspendisse sagittis porttitor consequat. Vivamus eleifend leo ac est dapibus, id fermentum nisl dignissim. Morbi diam libero, vestibulum et congue in, sodales ac nunc. Donec venenatis nulla eget nisi congue, ac condimentum risus bibendum. Donec vel aliquam massa. Etiam odio justo, feugiat ut quam eget, fermentum aliquet arcu. Mauris maximus nisi sed eros tincidunt posuere sed in felis. Vivamus rutrum turpis leo, eget egestas tellus sagittis et. Aliquam convallis vel eros sed porta. Mauris ultricies purus sed lacus lobortis, vel tincidunt est porttitor. Pellentesque sed lacus tortor.
    </p>
    <p class="lead">Lorem ipsum dolor</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id tellus sit amet ante dictum iaculis. Ut ut velit ex. Nam convallis malesuada maximus. Ut vehicula sem in rutrum facilisis. Vivamus ut mattis arcu. Aliquam erat volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris volutpat vehicula dolor eget pretium. Integer sodales tellus erat, ac tincidunt orci convallis sit amet. Curabitur auctor id neque in placerat. Proin cursus magna eget erat faucibus, ac molestie sapien viverra. 
    </p>
    <p class="lead">Lorem ipsum dolor</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id tellus sit amet ante dictum iaculis. Ut ut velit ex. Nam convallis malesuada maximus. Ut vehicula sem in rutrum facilisis. Vivamus ut mattis arcu. Aliquam erat volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris volutpat vehicula dolor eget pretium. Integer sodales tellus erat, ac tincidunt orci convallis sit amet. Curabitur auctor id neque in placerat. Proin cursus magna eget erat faucibus, ac molestie sapien viverra. 
    </p>
    <p class="lead">Lorem ipsum dolor</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id tellus sit amet ante dictum iaculis. Ut ut velit ex. Nam convallis malesuada maximus. Ut vehicula sem in rutrum facilisis. Vivamus ut mattis arcu. Aliquam erat volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris volutpat vehicula dolor eget pretium. Integer sodales tellus erat, ac tincidunt orci convallis sit amet. Curabitur auctor id neque in placerat. Proin cursus magna eget erat faucibus, ac molestie sapien viverra. 
    </p>
    <p class="lead">Lorem ipsum dolor</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id tellus sit amet ante dictum iaculis. Ut ut velit ex. Nam convallis malesuada maximus. Ut vehicula sem in rutrum facilisis. Vivamus ut mattis arcu. Aliquam erat volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris volutpat vehicula dolor eget pretium. Integer sodales tellus erat, ac tincidunt orci convallis sit amet. Curabitur auctor id neque in placerat. Proin cursus magna eget erat faucibus, ac molestie sapien viverra. Duis consectetur sagittis nunc nec gravida. Vestibulum lacinia eros at massa consequat facilisis. Phasellus ut purus vel nibh eleifend gravida. Nulla posuere egestas nunc vitae scelerisque.
    </p>
    <p>
      Curabitur non imperdiet nibh, at commodo ipsum. Fusce bibendum id nibh vitae consequat. Proin nisi risus, cursus at eleifend eget, imperdiet vel dui. Vivamus sit amet tincidunt nibh. Suspendisse sagittis porttitor consequat. Vivamus eleifend leo ac est dapibus, id fermentum nisl dignissim. Morbi diam libero, vestibulum et congue in, sodales ac nunc. Donec venenatis nulla eget nisi congue, ac condimentum risus bibendum. Donec vel aliquam massa. Etiam odio justo, feugiat ut quam eget, fermentum aliquet arcu. Mauris maximus nisi sed eros tincidunt posuere sed in felis. Vivamus rutrum turpis leo, eget egestas tellus sagittis et. Aliquam convallis vel eros sed porta. Mauris ultricies purus sed lacus lobortis, vel tincidunt est porttitor. Pellentesque sed lacus tortor.
    </p>
    <p class="lead">Lorem ipsum dolor</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id tellus sit amet ante dictum iaculis. Ut ut velit ex. Nam convallis malesuada maximus. Ut vehicula sem in rutrum facilisis. Vivamus ut mattis arcu. Aliquam erat volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris volutpat vehicula dolor eget pretium. Integer sodales tellus erat, ac tincidunt orci convallis sit amet. Curabitur auctor id neque in placerat. Proin cursus magna eget erat faucibus, ac molestie sapien viverra. 
    </p>
  </div>
</div>
