<%
  extra_classes ||= ""
  title ||= ""
  text ||= ""
  images ||= ""
%>


<div class="map">

  <div class="map__map">
    <%= image_tag("content/map.jpg", :class => '') %>
  </div>

  <div class="map__list">

    <div class="map__list__slider">

      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="map__list__item">
              <p class="map__list__item__title">Cargo Services, S. A.</p>
              <ul class="map__list__item__list">
                <li>
                  <span class="icon icon-location"></span>
                  <span>C/ Cavanilles, 45 <br />28007 Madrid </span>
                </li>
                <li>
                  <span class="icon icon-phone"></span>
                  <span>Tel: +34 914 341 820</span>
                </li>
                <li>
                  <span class="icon icon-fax"></span>
                  <span>Fax: +34 914 341 821</span>
                </li>
                <li>
                  <span class="icon icon-mail"></span>
                  <a href="mailto:infomad@cargoservicesgroup.com">infomad@cargoservicesgroup.com</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="map__list__item">
              <p class="map__list__item__title">Cargo Services Barcelona, S. A.</p>
              <ul class="map__list__item__list">
                <li>
                  <span class="icon icon-location"></span>
                  <span>C/ Ronda San Pedro, 19 – 21, 4º - 1º <br />08010 Barcelona </span>
                </li>
                <li>
                  <span class="icon icon-phone"></span>
                  <span>Tel: +34 933 019 633</span>
                </li>
                <li>
                  <span class="icon icon-fax"></span>
                  <span>Fax: +34 933 024 969</span>
                </li>
                <li>
                  <span class="icon icon-mail"></span>
                  <a href="mailto:infobcn@cargoservicesgroup.com">infobcn@cargoservicesgroup.com</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="map__list__item">
              <p class="map__list__item__title">lorem ipsum</p>
              <ul class="map__list__item__list">
                <li>
                  <span class="icon icon-location"></span>
                  <span>Marqués de Comillas, 28  2º Drcha <br />39520 - Comillas</span>
                </li>
                <li>
                  <span class="icon icon-phone"></span>
                  <span>Tel: +34 942 72 23 91</span>
                </li>
                <li>
                  <span class="icon icon-fax"></span>
                  <span>Fax: +34 914 341 821</span>
                </li>
                <li>
                  <span class="icon icon-mail"></span>
                  <a href="mailto:m.alonso@cargoservicesgroup.com">m.alonso@cargoservicesgroup.com</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="map__list__item">
              <p class="map__list__item__title">lorem ipsum</p>
              <ul class="map__list__item__list">
                        <li>
                  <span class="icon icon-location"></span>
                  <span>C/ Cavanilles, 45 <br />28007 Madrid</span>
                </li>
                <li>
                  <span class="icon icon-phone"></span>
                  <span>Tel: +34 914 341 820</span>
                </li>
                <li>
                  <span class="icon icon-fax"></span>
                  <span>Fax: +34 914 341 821</span>
                </li>
                <li>
                  <span class="icon icon-mail"></span>
                  <a href="mailto:infomad@cargoservicesgroup.com">infomad@cargoservicesgroup.com</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="map__list__item">
              <p class="map__list__item__title">lorem ipsum</p>
              <ul class="map__list__item__list">
                <li>
                  <span class="icon icon-location"></span>
                  <span>C/ Ronda San Pedro, 19 – 21, 4º - 1º <br />08010 Barcelona </span>
                </li>
                <li>
                  <span class="icon icon-phone"></span>
                  <span>Tel: +34 933 019 633</span>
                </li>
                <li>
                  <span class="icon icon-fax"></span>
                  <span>Fax: +34 933 024 969</span>
                </li>
                <li>
                  <span class="icon icon-mail"></span>
                  <a href="mailto:infobcn@cargoservicesgroup.com">infobcn@cargoservicesgroup.com</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="map__list__slider__navigation">
          <div class="swiper-button-prev"><span class="icon icon-arrow-left"></span></div>
          <div class="swiper-button-next"><span class="icon icon-arrow-right"></span></div>
        </div>
      </div>

  </div>
</div>

