<%
  extra_classes ||= ""
  title ||= ""
  text ||= ""
  images ||= ""
%>


<div class="news-slider">
  <div class="news-slider__wrap" >
    <p class="news-slider__wrap__title">Noticias</p>
    <div class="news-slider__wrap__text">
      <p class="title">
        Cargo services group en linkedin
      </p>
      <p class="date">
        22 Mar 2018
      </p>
      <div class="text">
        <p>
          Donec eget neque elit. Ut ornare vehicula nunc sit amet rutrum. Vivamus tincidunt suscipit enim et laoreet. Donec eros odio, porta eu faucibus id, ultricies in lacus. 
        </p>
        <p>
          Nunc non tortor magna. Sed vel justo dictum, egestas leo vitae.
        </p>
        <a href="#" class="link">Leer más</a>
      </div>
    </div>

    <div class="news-slider__wrap__slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          
          <div class="swiper-slide">Slide 1</div>
          <div class="swiper-slide">Slide 2</div>
          <div class="swiper-slide">Slide 3</div>
          
        </div>
      </div>
      <div class="news-slider__wrap__slider__navigation">
        <div class="swiper-button-prev"><span class="icon icon-arrow-left"></span></div>
        <div class="swiper-button-next"><span class="icon icon-arrow-right"></span></div>
      </div>
    </div>
  </div>

</div>

