<%
  extra_classes ||= ""
  title ||= ""
  text ||= ""
  image ||= ""
%>


<div class="services-list">
  <div class="services-list__wrapp">
    <div class="services-list__item">
      <a href="#" data-scroll="#ground" data-offsettop="150">
        <span class="icon icon-delivery-truck"></span>
        <span class="text">Terrestre</span>
      </a>
    </div>
    <div class="services-list__item">
      <a href="#" data-scroll="#marine" data-offsettop="150">
          <span class="icon icon-ship"></span>
          <span class="text">Marítimo</span>
        </a>
    </div>
    <div class="services-list__item">
      <a href="#" data-scroll="#aerial" data-offsettop="150">
        <span class="icon icon-plane"></span>
        <span class="text">Aéreo</span>
      </a>
    </div>
    <div class="services-list__item">
      <a href="#" data-scroll="#cross-trade" data-offsettop="150">
        <span class="icon icon-cross-trade"></span>
        <span class="text">Cross Trade</span>
      </a>
    </div>
    <div class="services-list__item">
      <a href="#" data-scroll="#projects" data-offsettop="150">
        <span class="icon icon-qr-code"></span>
        <span class="text">Proyectos</span>
      </a>
    </div>
    <div class="services-list__item">
      <a href="#" data-scroll="#customs" data-offsettop="150">
        <span class="icon icon-customs"></span>
        <span class="text">Aduanas</span>
      </a>
    </div>
    <div class="services-list__item">
      <a href="#" data-scroll="#warehouses" data-offsettop="150">
        <span class="icon icon-warehouses"></span>
        <span class="text">Almacenes</span>
      </a>
    </div>
    <div class="services-list__item">
      <a href="#" data-scroll="#insurance" data-offsettop="150">
        <span class="icon icon-lock"></span>
        <span class="text">Seguros</span>
      </a>
    </div>
  </div>
</div>

