<%
  extra_classes ||= ""
  title ||= ""
  text ||= ""
  images ||= ""
%>


<div class="slider-home">

  <div class="slider-home__wrap">
    <div class="slider-home__wrap__text">
      <p class="small">
        30 años
      </p>
      <p class="title">
        Cumpliendo con tus compromisos
      </p>
      <div class="text">
        <p>
          Donec eget neque elit. Ut ornare vehicula nunc sit amet rutrum. Vivamus tincidunt suscipit enim et laoreet. Donec eros odio, porta eu faucibus id, ultricies in lacus. 
        </p>
        <p>
          Nunc non tortor magna. Sed vel justo dictum, egestas leo vitae.
        </p>
      </div>
      <%= link_to 'Conócenos más', '', :relative => true, class: 'link' %>
    </div>
  </div>

  <div class="slider-home__slider">

    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url(../assets/images/content/home/slide-11.jpg);">
          <div class="slider-home__slider__content">
            <p class="title">Nuestra preocupación eres tú</p>
            <p class="text">Buscamos la máxima satisfacción de nuestros clientes</p>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(../assets/images/content/home/slide-12.jpg);">
          <div class="slider-home__slider__content">
            <p class="title">Colaboramos con proyectos benéficos</p>
            <p class="text">Colaboramos, entre otros, con Cruz Roja española, Caritas y Misioneros Recoletos</p>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(../assets/images/content/home/slide-13.jpg);">
          <div class="slider-home__slider__content">
            <p class="title">Cuidamos el medio ambiente</p>
            <p class="text">Estamos al día de las exigencias marcadas por este organismo a nivel nacional.</p>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(../assets/images/content/home/slide-11.jpg);">
          <div class="slider-home__slider__content">
            <p class="title">Nuestra preocupación eres tú</p>
            <p class="text">Buscamos la máxima satisfacción de nuestros clientes</p>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(../assets/images/content/home/slide-12.jpg);">
          <div class="slider-home__slider__content">
            <p class="title">Colaboramos con proyectos benéficos</p>
            <p class="text">Colaboramos, entre otros, con Cruz Roja española, Caritas y Misioneros Recoletos</p>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(../assets/images/content/home/slide-13.jpg);">
          <div class="slider-home__slider__content">
            <p class="title">Cuidamos el medio ambiente</p>
            <p class="text">Estamos al día de las exigencias marcadas por este organismo a nivel nacional.</p>
          </div>
        </div>
      </div>

    </div>
    <div class="slider-home__slider__navigation">
      <div class="swiper-button-prev"><span class="icon icon-arrow-left"></span></div>
      <div class="swiper-button-next"><span class="icon icon-arrow-right"></span></div>
    </div>

  </div>
</div>

