<%
  extra_classes ||= ""
  title ||= ""
  text ||= ""
  images ||= ""
%>


<div class="slider-home">

  <div class="slider-home__wrap">
    <div class="slider-home__wrap__text">
      <p class="small">
        30 AÑOS
      </p>
      <p class="title">
        CUMPLIENDO CON TUS COMPROMISOS
      </p>
      <div class="text">
        <p>
          Cargo Services nació en 1988 para ofrecer servicios de transporte aéreo, marítimo y terrestre.
        </p>
        <p>
          Contamos con oficinas en España, Polonia, Cuba, Panamá y México. Y disponemos de una red de Agentes en todo el mundo para dar cobertura en cualquier punto del planeta.
        </p>
      </div>
      <%= link_to 'Conócenos más', '', :relative => true, class: 'link' %>
    </div>
  </div>

  <div class="slider-home__slider">

    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url(../assets/images/content/home/slide-11.jpg);">
          <div class="slider-home__slider__content">
            <p class="title">NUESTRA PREOCUPACIÓN ERES TÚ</p>
            <p class="text">Buscamos la máxima satisfacción de nuestros clientes</p>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(../assets/images/content/home/slide-12.jpg);">
          <div class="slider-home__slider__content">
            <p class="title">LA CALIDAD ES NUESTRA MÁXIMA</p>
            <p class="text">Nuestro propósito es proporcionar unos servicios excelentes</p>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(../assets/images/content/home/slide-14.jpg);">
          <div class="slider-home__slider__content">
            <p class="title">APOYAMOS PROYECTOS BENÉFICOS</p>
            <p class="text">Colaboramos con entidades como Cruz Roja, Caritas y Misioneros Recoletos</p>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url(../assets/images/content/home/slide-13.jpg);">
          <div class="slider-home__slider__content">
            <p class="title">Cuidamos el medio ambiente</p>
            <p class="text">Estamos al día de las exigencias marcadas por este organismo a nivel nacional.</p>
          </div>
        </div>
      </div>

    </div>
    <div class="slider-home__slider__navigation">
      <div class="swiper-button-prev"><span class="icon icon-arrow-left"></span></div>
      <div class="swiper-button-next"><span class="icon icon-arrow-right"></span></div>
    </div>

  </div>
</div>
