<%
  extra_classes ||= ""
  title ||= ""
  text ||= ""
  images ||= ""
%>


<div class="slider-hero">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image: url(../assets/images/content/home/slide-2.jpg);">
        <div class="slider-hero__content">
          <p class="small">EL MEDIO DE TRANSPORTE</p>
          <p class="title">MÁS ECONÓMICO</p>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: url(../assets/images/content/home/slide-3.jpg);">
        <div class="slider-hero__content">
          <p class="small">EL MEDIO DE TRANSPORTE</p>
          <p class="title">MÁS RÁPIDO Y MÁS SEGURO</p>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: url(../assets/images/content/home/slide-1.jpg);">
        <div class="slider-hero__content">
          <p class="small">EL MEDIO DE TRANSPORTE</p>
          <p class="title">MÁS ADAPTABLE A TUS NECESIDADES</p>
        </div>
      </div>
    </div>

    <div class="slider-hero__navigation">
      <div class="slider-hero__navigation__item active" data-slide="0">
        <div class="text">
          <p class="title">Transporte marítimo</p>
          <a href="#" class="link">Más información</a>
        </div>
        <div class="wrap-icon">
          <span class="icon icon-ship"></span>
        </div>
      </div>
      <div class="slider-hero__navigation__item" data-slide="1">
        <div class="text">
          <p class="title">Transporte aéreo</p>
          <a href="#" class="link">Más información</a>
        </div>
        <div class="wrap-icon">
          <span class="icon icon-plane"></span>
        </div>
      </div>
      <div class="slider-hero__navigation__item" data-slide="2">
        <div class="text">
          <p class="title">Transporte terrestre</p>
          <a href="#" class="link">Más información</a>
        </div>
        <div class="wrap-icon">
          <span class="icon icon-delivery-truck"></span>
        </div>
      </div>
    </div>

    <div class="swiper-pagination"></div>
  </div>
  <button class="btn btn-down" data-scroll="#home"><span class="icon icon-arrow-down"></span></button>
</div>
