.map {
  &__map {
    width: 100%;
    margin: 0 auto;
  }
  &__list {
    padding: 0 60px 20px 60px;
    @include media("<desktop") {
      padding: 0 20px 20px 20px;
    }
    &__slider {
      position: relative;
      .swiper-container {
        padding-top: 100px;
      }
      &__navigation {
        position: absolute;
        right: 0;
        top: 54px;
        z-index: 1;
        width: 84px;
        @include media("<tablet") {
          position: relative;
          right: auto;
          top: auto;
          width: 100%;
          height: 50px;
        }
        .icon {
          font-size: 32px;
          color: $corporative;
        }
        .swiper-button-prev {
          position: static;
          background-image: none;
          width: 32px;
          height: 22px;
          float: left;
          @include media("<tablet") {
            margin-top: 28px;
          }
          &.swiper-button-disabled {
            opacity: 1;
            .icon {
              color: $lightgrey;
            }
          }
        }
        .swiper-button-next {
          position: static;
          background-image: none;
          width: 32px;
          height: 22px;
          float: right;
          @include media("<tablet") {
            margin-top: 28px;
          }
          &.swiper-button-disabled {
            opacity: 1;
            .icon {
              color: $lightgrey;
            }
          }
        }
        &:after {
          content: '';
          display: table;
          clear: both;
        }
      }
    }
    &__item {
      &__title {
        font-family: $font_title;
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $secondary;
        margin-bottom: 30px;
      }
      &__list {
        li {
          position: relative;
          padding-left: 30px;
          font-size: 16px;
          line-height: 22px;
          color: $darkgrey;
          margin-bottom: 16px;
          a {
            color: $secondary;
            text-decoration: none;
            word-break: break-all;
          }
          .icon {
            position: absolute;
            left: 0;
            top: 0;
            color: $secondary;
            font-size: 16px;
          }
        }
      }
    }
  }
}