---
title: Contacto
layout: layout
---

<%= partial("shared/header", :locals => {
  :extra_classes => '',
  :active => 'contact'
}) %>

<div class="content__wrapper">

    <%= partial("modules/map", :locals => {
      :extra_classes => 'contact-page'
    }) %>
  

  <%= partial("modules/modal-form", :locals => {
    :modal_selector => 'budget-modal',
    :extra_classes => 'budget-modal',
    :title => '<p class="small">' +
                'Solicita' +
              '</p>' +
              '<p class="title">' +
                'Presupuesto gratuito' +
              '</p>'
  }) %>

</div>

<%= partial("shared/footer") %>
