---
title: Politica de privacidad
layout: layout
---
<%= partial("shared/header", :locals => {
  :extra_classes => '',
  :active => ''
}) %>

<div class="content__wrapper">

  <%= partial("modules/legal", :locals => {
    :extra_classes => ''
  }) %>

</div>
